/*
RESET
*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*
GENERAL
*/

.Main-container{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lightslategray;
}

.App-container{
    width: 80%;
    height: 80%;
    display: flex;
}
img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
/*
CONTAINER PRINCIPALI
*/

.left-contact-bar{
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.right-messages-container{
    width: 70%;
    height: 100%;
    background-image: url(../img/mine.jpg);
    display: flex;
    flex-direction: column;
    
}

/*
ALL'INTERNO DEL CONTAINER DI SINISTRA
*/
.top-left-bar-header{
    background-color: lightgray;
    height: 50px;
    border-right: 1px solid black;
}

.bottom-left-bar-header{
    height: 120px;
}

.left-note-container{
    padding-left: 5px;
    height: 80px;
    background-color: rgb(58, 124, 248);
    display: flex;
    align-items: center;
    
}

.left-search-contact-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    background-color: rgba(255, 255, 255, 0.61);
}

.contacts-left-container{
    flex-grow: 1;
    overflow-y: auto;
    cursor: pointer;
}
.my-profile{
    padding-left: 5px;
    height: 50px;
    display: flex;
    align-items: center;
}
.my-avatar-container{
    width: 45px;
    height: 45px;
    border-radius: 50%;
    overflow: hidden;
    background-color: black;
    margin-right: 10px; 
}
.note-icon-container{
    width: 60px;
    height: 60px;
    margin-right: 10px;
    border-radius: 50%;
    overflow: hidden;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.note-icon{
    color: rgb(58, 124, 248);
}
.text-note{
    font-size: 0.8rem;
}
.contact-info{
    padding-left: 3px;
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    background-color: white;
    border-top: 1px solid grey;
}
.contact-info:hover{
    background-image: linear-gradient(rgb(0 0 0/40%) 0 0);
}
.contact-avatar{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
}
.contact-description{
    margin-left: 10px;
}
.contact-name-left-container{
    font-weight: bold;
}
.message-contact-left-container{
    font-size: 0.9rem;
    color: lightgrey;
}
/*
ALL'INTERNO DEL CONTAINER DI DESTRA
*/
.right-header-container{
    background-color: lightgray;
    height: 50px;
    flex-shrink: 0;
    display: flex;
    
}
.header-contact-right{
    padding-left: 5px;
    display: flex;
    align-items: center;
}
.active-contact-avatar{
    width: 45px;
    height: 45px;
    border: 1px solid black;
    border-radius: 50%;
    overflow: hidden;
}
.active-contact-name{
    margin-left: 10px;
}
.main-content-right{
    flex-grow: 1;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    margin-left: 100px;
    margin-right: 100px;
}
.contact-box-message{
    min-height: 35px;
    align-self: flex-end;
    margin: 5px;
}
.my-box-message{
    min-height: 35px;
    align-self: flex-start;
    margin: 5px;
}
.text-box-message{
    padding-top: 3px;
    padding-left: 10px;
    background-color: green;
    width: 200px;
    min-height: 35px;
    border-radius: 5px;
    
}
.my-text-box-message{
    padding-top: 3px;
    padding-left: 10px;
    background-color: white;
    width: 200px;
    min-height: 35px;
    border-radius: 5px;
}
.message-date{
    margin-top: 5px;
    font-size: 0.8rem;
    text-align: end;
    color: rgb(56, 54, 54);
    
}
footer{
    width: 100%;
    height: 60px;
    background-color: rgba(255, 255, 255, 0.61);
    flex-shrink: 0;
}
.textbar-container{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.textbar{
    width: 80%;
    height: 60%;
    border-radius: 10px;
    border: none;
}