/*
RESET
*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*
GENERAL
*/

.Main-container{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lightslategray;
}

.App-container{
    width: 80%;
    height: 80%;
    background-color: red;
    display: flex;
}
img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
/*
CONTAINER PRINCIPALI
*/

.left-contact-bar{
    width: 30%;
    height: 100%;
    background-color: green;
    display: flex;
    flex-direction: column;
}

.right-messages-container{
    width: 70%;
    height: 100%;
    background-color: lightsalmon;
    display: flex;
    flex-direction: column;
    
}

/*
ALL'INTERNO DEL CONTAINER DI SINISTRA
*/
.top-left-bar-header{
    background-color: lightgray;
    height: 50px;
    border-right: 1px solid black;
}

.bottom-left-bar-header{
    height: 120px;
}

.left-note-container{
    height: 80px;
    background-color: blue;
    display: flex;
    align-items: center;
    
}

.left-search-contact-container{
    height: 40px;
    background-color: white;
}

.contacts-left-container{
    flex-grow: 1;
    overflow-y: auto;
    background-color: brown;
}

.my-profile{
    height: 50px;
    display: flex;
    align-items: center;
}
.my-avatar-container{
    width: 45px;
    height: 45px;
    border-radius: 50%;
    overflow: hidden;
    background-color: black;
    margin-right: 10px; 
}
.note-icon-container{
    width: 60px;
    height: 60px;
    margin-right: 10px;
    border-radius: 50%;
    overflow: hidden;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.note-icon{
    color: blue;
}
.contact-info{
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    background-color: lightgray;
    border-top: 1px solid grey;
    border-bottom: 1px solid grey;
}

.contact-avatar{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
}
.contact-description{
    margin-left: 10px;
}
/*
ALL'INTERNO DEL CONTAINER DI DESTRA
*/
.right-header-container{
    background-color: lightgray;
    height: 50px;
    flex-shrink: 0;
}

.main-content-right{
    background-color: chartreuse;
    flex-grow: 1;
    overflow-y: auto;
}

footer{
    height: 60px;
    background-color: black;
    flex-shrink: 0;
}